html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-weight: 200;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;

  --main: #220969;
  --light-main: #7B5CD3;
  --dark-main: #140442;
  --light-fill: #CECDD1;
  --dark-fill: #141317;
  --light-accent: #4ED68D;
  --accent: #21C06B;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

.main {
  height: calc(100vh - 100px);
  overflow-y: scroll;
  margin-top: 50px;
}
