.nav {
  position: fixed;
  display: flex;
  background: var(--main);
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: white;
  box-sizing: border-box;
}

#header {
  top: 0px;
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 1px 3px var(--accent);
}

#footer {
  bottom: 0px;
  border-top: 1px solid var(--accent);
  box-shadow: 0px -1px 3px var(--accent);
}

.left-half {
  margin-left: 25px;
}

.right-half {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

#footer-links {
  margin-right: 15px;
}

.right-half > * {
  margin-left: 15px;
}

.right-half img {
  height: 20px;
  width: 20px;
  margin: 0px 10px;
}

.right-half img:hover {
  height: 26px;
  width: 26px;
  margin: 0px 7px;
}

.nav-link:hover {
  color: var(--light-accent);
}

#title {
  color: var(--light-accent);
  font-size: 22px;
  font-weight: 300;
  text-shadow: 0px 0px 1px white;
}
